<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <%- include('partials/__header'); %>
        <div class="blogs common">
            <div class="title">
                <h1>Blogs</h1>
            </div>
            <div class="display_blogs" style="margin-top: 20px;display: flex;flex-direction: column;row-gap: 20px;">
                <% if (blogs.length > 0) { %>
                    <% blogs.forEach(function(blog) { %>
                        <div class="blog">
                            <h3><%= blog.blog_title %></h3>
                            <p><%= blog.blog_body %></p>
                            <p><%= blog.blog_created_at %></p>
                            <div class="action" style="margin-top: 20px">
                                <form action="/blogs/new_blog/<%= blog.blog_id %>" enctype="application/x-www-form-urlencoded" method="GET">
                                    <button type="submit">edit</button>
                                </form>
                                <form action="">
                                    <button type="submit">delete</button>
                                </form>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
        <%- include('partials/__footer'); %>
    </div>
</body>
</html>